name: Deploy Vite Project to GitHub Pages

# This specifies when the workflow should be triggered.
on:
  # Trigger the workflow on push to the "staging" branch
  push:
    branches:
      - staging
  # Allow the workflow to be triggered manually
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    # Setting up Node.js version 21.6.2 as per your project requirements
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 21.6.2

      - name: Install dependencies
        run: npm install

      - name: Build the project
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: gh-pages  # The branch where GitHub Pages content is deployed
